* {
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: white;
  box-shadow: -2px 4px 5px 0px rgba(166,166,166,0.75);
  height: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}

section {
  padding: 1rem;
}

ul {
  list-style: none;
  display: inline-block;
}

li.box-todo {
  padding: 1rem 2rem;
  border: 1px solid black;
  margin-bottom: 1rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.box-todo {
  padding: 2rem 3rem;
  border: 1px solid black;
} */